<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Welcome {{username}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Courses</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
    {{# each myCourses}}
    <a class="dropdown-item" href="{{this.link}}">{{this.name}}</a>
      {{/each}}    
    </div>
  </li>


      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
      <a class="dropdown-item" href="/home/history">History</a>
      <a class="dropdown-item" href="/home/english">English</a>
      <a class="dropdown-item" href="/home/math">Math</a>
     
  </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a href="/" > Log out </a>
  </div>
</nav>

<p class="lead"> You are now subscribed to history course. Check out new topics and explore your options.</p>
{{# if empty}}
<p class="lead"> There are no any topics yet. </p>
{{else}}
{{# each posts}}
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{this.Topic}}</div>
  <div class="card-body">
    <h4 class="card-title">{{this.Title}}</h4>
    <p class="card-text">{{this.Lecture}}</p>
  </div>
</div>
{{/each}}
{{/if}}

